
.container2 {
    background: rgb(248, 248, 248);
}

.container2b {
    max-width: 1500px;
    margin: auto;
    margin-top: 50px;
    padding-top: 40px;
    /* border: 1px solid blue; */
}

.container2b h1 {
    text-align: center;
    margin-top: 60px;
}

section div {
    width: 20%;
    margin: 20px;
}

section img {
    width: 100%;
}

.container2b section {
    display: flex;
    justify-content: space-between;
}

.container2b div button {
    translate: 700px -100px;
}

p {
    background-color: white;
    font-size: small;
    padding: 20px;
    margin-top: 0;
    box-shadow: 3px 3px 5px lightgrey;
}